*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.container{
  width:100%;
  border: 5px solid black;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

}
.item{
    width: 350px;
    height:350px;
    border:1px solid;
    margin: 10px;
    display: flex;
    justify-content:space-around;
    position: relative;
  
    
}
img{
  width: 100%;
  object-fit: cover;
  display: block;
}
p{
 
 color: white;
 position: absolute;
 top:50%;
 left:0px;
 opacity: 0;
 transform: translate(-50%-50%);
 justify-content: center;
 text-align: center;
}
.item:hover>p{
  opacity: 1;
  transition: 0.5s;
  background-color: black;
  transition-timing-function: ease;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  font-size: 1.5rem;
  height: fit-content;
  width: 100%;

}

    

